src/main/mule/myfirstprojectflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ff7f4f5c-1ffa-4962-99e9-503b5f77f551" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myfirstprojectflowFlow" doc:id="60baa686-4542-4de9-b8aa-26edf1b845d8" >
		<http:listener doc:name="Listener" doc:id="1fdb6251-9caf-45a1-8744-d41405f19ff7" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="c3c9d433-31d7-4c1b-b0db-514adaf0dabd" message="#[payload]"/>
	</flow>
</mule>
